<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!--========  Root Menu  ========-->
    <menuitem id="menu_root_school_management"
              name="School Management"
              sequence="0"
    />

    <!--========  Teacher Menu  ========-->
    <menuitem id="menu_school_teacher_main"
              name="Teacher"
              parent="menu_root_school_management"
              sequence="2"
    />
    <!--========  Teacher Menu  (Child under Teacher) ========-->
    <menuitem id="menu_school_teacher"
              name="Teachers"
              parent="menu_school_teacher_main"
              action="action_school_teacher"
              sequence="1"
    />


    <!--========  Teacher Menu  (Child under Root) ========-->
    <menuitem id="menu_school_student"
              name="Students"
              parent="menu_root_school_management"
              sequence="3"
    />


    <!-- All Student (Child under Student) -->
    <menuitem id="menu_school_all_students"
              name="All Student"
              parent="menu_school_student"
              sequence="1"
              action="action_school_student"
    />
    <!-- for class six  -->
    <menuitem id="menu_school_class_six_student"
              name="Class Six Students"
              parent="menu_school_student"
              sequence="2"
              action="action_class_six"
    />
    <!-- for class seven -->
    <menuitem id="menu_school_class_seven_student"
              name="Class Seven Students"
              parent="menu_school_student"
              sequence="3"
              action="action_class_seven"
    />

    <!--========  Founder (Child under Root) ========-->
    <menuitem id="menu_school_founder"
              name="Founder"
              parent="menu_root_school_management"
              sequence="1"
              action="action_school_founder"
              groups="base.group_system"
    />

     <!--========  Configuration  (Child under Root) ========-->
    <menuitem id="menu_school_configuration"
              name="Configuration"
              parent="menu_root_school_management"
              sequence="5"
              groups="base.group_system"
    />
    <!-- for grade -->
     <menuitem id="menu_school_teacher_grade"
              name="Grade"
              parent="menu_school_configuration"
              sequence="1"
              action="action_teacher_grade"
    />
    <!-- for salary -->
      <menuitem id="menu_school_teacher_salary"
              name="Salary"
              parent="menu_school_configuration"
              sequence="2"
              action="action_school_teacher_salary"
    />
</odoo>